[submodule "sagemaker-tensorflow-container"]
	path = sagemaker-tensorflow-container
	url = https://github.com/aws/sagemaker-tensorflow-container.git
        fetchRecurseSubmodules = false
        shallow = true
